.flex-between-vertical-centered () {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-centered() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rochester-font () {
  font-family: Rochester, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.quicksand-font () {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.asap-font () {
  font-family: Asap, sans-serif;
  font-style: normal;
  font-weight: normal;
}
