@import "../../styles/fonts.less";
@import "../../styles/colors.less";
@import "../../styles/mixins.less";

.header-wrapper {
  .flex-between-vertical-centered;

  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  padding: 5px 10px;
  z-index: 2;
  background-color: @green-color;

  @media (min-width: 1024px) {
    height: 70px;
    padding: 15px 30px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  color: @white-color;
  font-size: 25px;

  @media (min-width: 1024px) {
    font-size: 45px;
  }
}

.logo-title {
  font-family: Rochester, sans-serif;
  font-size: 20px;
  line-height: 52px;
  margin-left: 7px;
  color: @white-color;

  @media (min-width: 1024px) {
    font-size: 40px;
  }
}
